@model OOM.Model.Method

@{
    ViewBag.Title = "Method details";
}

@*
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Projects", "List", "Projects")</li>
        <li>@Html.ActionLink(Model.Revision.Project.Name, "Details", "Projects", new { id = Model.Revision.ProjectId }, null)</li>
        <li>@Html.ActionLink("Revisions", "List", new { id = Model.Revision.ProjectId })</li>
        <li>@Html.ActionLink(Model.Revision.RID, "Details", new { id = Model.Revision.Id })</li>
        <li class="active">@Model.Name</li>
    </ul>
*@
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>Method details</h1>
            <br />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FullyQualifiedIdentifier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FullyQualifiedIdentifier)
                    </dd>
                </dl>
                <br />
                <h2>History</h2>
                <style>
                    .link {
                        stroke: #dedede;
                    }

                    .node text {
                        pointer-events: none;
                        font: 10px sans-serif;
                        color: #333;
                    }

                    #history-chart {
                        width: 1140px;
                        height: 600px;
                        position: relative;
                    }

                        #history-chart .chart-toolbar {
                            position: absolute;
                            right: 15px;
                            top: 15px;
                        }

                            #history-chart .chart-toolbar a {
                                margin-left: 3px;
                            }
                </style>

                <div id="history-chart">
                    <div class="chart-toolbar">
                        <!-- TODO: Fix the centering problem of the "container" shape in the rendered SVG
                        <a href="#zoom-in" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Zoom in" role="button">
                            <span class="fa fa-search-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#zoom-out" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Zoom out" role="button">
                            <span class="fa fa-search-minus" aria-hidden="true"></span>
                        </a>
                        <a href="#zoom-original" class="btn btn-primary btn-xs" data-toggle="tooltip" title="1:1" role="button">
                            <span class="fa fa-crosshairs" aria-hidden="true"></span>
                        </a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/d3")
    <script>
        var eventDropsChart = d3.chart.eventDrops();

        d3.json('@Url.Action("History", "Metrics")?revisionId=@(Model.Class.Namespace.Revision.Id)&elementType=method&elementId=@(Model.Id)', function (error, data) {
            d3.select('#history-chart')
              .datum(data)
              .call(eventDropsChart);
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}