@model OOM.Model.Project

@{
    ViewBag.Title = "Create a new project";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Projects", "List")</li>
    <li class="active">Create</li>
</ul>
<h2>Create</h2>
<div class="well bs-component">
    <form class="form-horizontal" action="@Url.Action("Create")" method="post">
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RepositoryProtocol, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.RepositoryProtocol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RepositoryProtocol)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.URI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.URI, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.URI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.User, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" tabindex="-1">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>