@model OOM.Model.Project

@{
    ViewBag.Title = "Project details";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Projects", "List")</li>
    <li class="active">Details</li>
</ul>
<h1>
    Project details
    <div class="pull-right">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">
            <i class="icon-star icon-white"></i> Edit
        </a>
    </div>
</h1>
<br />
<div class="well bs-component">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.RepositoryProtocol)</dt>
        <dd>@Html.DisplayFor(model => model.RepositoryProtocol)</dd>

        <dt>@Html.DisplayNameFor(model => model.URI)</dt>
        <dd>@Html.DisplayFor(model => model.URI)</dd>
    </dl>
</div>