@model IEnumerable<OOM.Model.Project>

@{
    ViewBag.Title = "Projects";
}

<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Projects
                <div class="pull-right">
                    <a href="@Url.Action("Create New", "Create")" class="btn btn-primary">
                        <i class="icon-star icon-white"></i> Create
                    </a>
                </div>
            </h1>
            <br />
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.RepositoryProtocol)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.URI)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var project in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => project.RepositoryProtocol)
                            </td>
                            <td>
                                @Html.DisplayFor(m => project.URI)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = project.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = project.Id }) |
                                @Html.ActionLink("Revisions", "Revisions", new { id = project.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = project.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>