@model IEnumerable<OOM.Model.Expression>

@{
    ViewBag.Title = "List of expressions";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Expressions</li>
</ul>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Expressions
                <div class="pull-right">
                    <a href="@Url.Action("Create")" class="btn btn-primary">
                        <i class="icon-star icon-white"></i> Create new
                    </a>
                </div>
            </h1>
            <br />
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Formula)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.TargetType)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var expression in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => expression.Name)
                            </td>
                            <td>
                                <span class="math-expression">
                                    @Html.DisplayFor(m => expression.Formula)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(m => expression.TargetType)
                            </td>
                            <td style="text-align: center;">
                                <a href="@Url.Action("Edit", new { id = expression.Id })" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit" role="button">
                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Details", new { id = expression.Id })" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Details" role="button">
                                    <span class="fa fa-eye" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = expression.Id })" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete" role="button">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/mathjax")
    <script>
        $('.math-expression').each(function () {
            var id = 'expression' + Math.floor(Math.random() * 26) + Date.now();
            var $this = $(this);

            $this.attr('id', id).hide().html('`' + $this.html() + '`');

            MathJax.Hub.Queue(
                ["Typeset", MathJax.Hub, id],
                function () {
                    $this.show();
                }
            );
        });

        $('[data-toggle="tooltip"]').tooltip();
    </script>
}