@model OOM.Model.Metric

@{
    ViewBag.Title = "Create a new metric";
}

<h1>Create</h1>

<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-lg-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autofocus = "" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Expression, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Expression, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Expression)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TargetType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.TargetType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TargetType)
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default" tabindex="-1">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
